venv/

__pycache__/

.ipynb_checkpoints/

.DS_Store
Thumbs.db
NLP/knesset_corpus.jsonl
NLP/212920896_212245096.zip
NLP/212920896_212245096_hw1.zip
NLP/output.jsonl
NLP/NLP_Recordings
NLP/knesset_corpus1.jsonl
NLP/knesset_corpus2.jsonl
venv39/
DL/part1_test.csv
DL/part1_train.csv
DL/colums.txt
data/
DL/Cloudy
DL/Sunrise
DL/Test
DL/Rain
DL/Shine